$small-width: 425px;
$medium-width: 750px;
$large-width: 1024px;

@mixin small {
  @media (min-width: #{$small-width}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

$background-color-dark: #75d6c7;
$text-color-dark: black;
$text-color-h2: #68c9ba;
$text-link: #5db2a6;
$background-color-tiles: #FAFAFA;
$font: 'futura-pt';

#app-container {
  font-family: 'futura-pt';
  font-weight: 300;
  letter-spacing: 0.3px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: $background-color-dark;
  opacity: 0.8;
  height: 3.5rem;
  a {
    padding-top: 1rem;
  }
}

.hamburger {
  visibility: visible;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  cursor: pointer;

  @include medium {
    visibility: hidden;
  }
}

.name-container {
  display: flex;
  padding-left: 1.5rem;
  flex: 0 0 45%;
  align-items: center;
  @include medium {
    padding-left: 3rem;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1.8px;
    color: $text-color-dark;
  },
  a:hover {
    color: white;
  }
}

.menu-item-container {
  visibility: hidden;
  @include medium {
    visibility: visible;
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    justify-content: flex-end;
  }
}

.menu-item {
  visibility: hidden;

  @include medium {
    padding-left: 2rem;
    visibility: visible;
    p,
    a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 0.85rem;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: $text-color-dark;
      margin: 0;
    },
    a,p:hover {
      color: white;
    }
  }
}

.responsive-container {
  background-color: $background-color-dark;
  opacity: 0.8;
  padding: 1rem 1rem 0.5rem 1rem;
  width: 100%;

  .name-container {
    display: flex;
    justify-content: center;
    padding: 0;
    @include medium {
      justify-content: flex-start;
      padding-left: 3rem;
    }
  }
  .menu-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
      flex: 0 0 100%;

      a {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.85rem;
        font-weight: 500;
        letter-spacing: 1.8px;
        color: $text-color-dark;
      }

      a:hover {
        color: white;
      }
    }

    @include medium {
      display: flex;
      align-items: center;
      flex: 0 0 50%;
      justify-content: flex-end;
    }
  }

  .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;

    @include medium {
      visibility: visible;
    }
  }
}

.outer {
  margin: 3rem;
}

.crypto-container {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: center;
}

.crypto-set {
  padding: 0.5rem 1rem 1rem 1rem;
  margin: 0 0.5rem 2rem 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  flex: 0 0 100%;

  @include medium {
    flex: 0 0 30%;
    margin: 0 1rem 2rem 1rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .title-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    h2 {
      flex: 0 0 100%;
      font-size: 1.8rem;
      font-weight: 400;
      letter-spacing: 3.3px;
      text-transform: uppercase;
      text-decoration: none;
      color: $text-color-h2;
      margin: 0;
      margin-bottom: 0.8rem;
    }
    img {
      flex: 0 0 100%;
      width: 142px;
      height: 100px;
      padding: 1.3rem;
    }
  }
  .data-container {
    padding: 1rem;
    line-height: 1.5rem;
  }
  .subtext {
    font-size: 0.8rem;
    color: gray;
    line-height: 1rem;
    padding: 1rem 1rem 0 1rem;
  }
}

.form-container {
  margin: 4rem 1.5rem 1.5rem 1.5rem;

  @include medium {
    width: 35rem;
    margin: 4rem 4rem 4rem 4rem;
  }

  .form-description {
    margin-bottom: 0.8rem;
  }
  label {
    margin-right: 0.5rem;
  }
}

.form-control {
  font-family: $font;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.3px;
}

.btn {
  background-color: $background-color-dark;
  border: $background-color-dark;
  color: black;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.85rem;
  font-family: $font;
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: $background-color-dark;
}

.transaction-table-container {
  margin: 1.5rem;

  @include medium {
    margin: 2rem 4rem;
  }

  .table-container {

    th {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 0.8rem;
      text-align: center;
      padding: 1rem;
    }

    td {
      font-size: 0.9rem;
      text-align: center;
      vertical-align: middle;
      padding: 0.5rem;
    }

    img {
      width: 20px;
    }

    img {
      visibility: hidden;
    }

    a:hover {

      img {
        visibility: visible;
      }
    }
  }
}

.delete-button {
  width: 100px;
}

.notice-container-success {
  margin: 1.5rem;

  p {
    margin: 0;
    color: #469557;
  }
}

.notice-container-error {
  margin: 1.5rem;
  p {
    margin: 0;
    color: #d64d3d;
  }
}

.footer-container-inner {
  display: flex;
  justify-content: flex-end;
  margin: 5rem 5rem 6rem 5rem;
}

.footer-item {
  margin: 0.5rem;
}
